body {
  width: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  background-image: radial-gradient(#78ff78, #636363);
}

.main {
  /* width: 100%; */
}
.wraper {
  width: calc(100vh / 1.87);
  min-width: 290px;
  padding: 15px;
  margin: 0 auto;
}
.calkulator {
  min-height: 580px;
  min-width: 280px;
  height: calc(100vh - 30px);
  width: calc(100vh / 2);
  border: 10px solid #000;
  border-radius: 50px;
  outline: 5px solid #999999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.headerCalk {
  padding: 10px 25px;
  display: grid;
  grid-template-columns: 40% 20% 30% 10%;
  align-items: center;
  line-height: 1.5;
}
.time {
  line-height: 1.2;
}
.hour {
  margin-right: -3px;
}
.minute {
  margin-left: -3px;
}
.is-notTwoDotet {
  visibility: hidden;
}
.date {
  font-size: 0.6rem;
}
.headerCalk__camera {
  background-color: #000;
  height: 50%;
  margin: 5px;
  border-radius: 10px;
}
.connectionNosignal {
  background-image: url(../img/SignalSlow.png);
}
.connectionE {
  background-image: url(../img/Signal2G.png);
}
.connection3G {
  background-image: url(../img/Signal3G.png);
}
.connection4G {
  background-image: url(../img/Signal4G.png);
}
.connection5G {
  background-image: url(../img/Signal5G.png);
}
.headerCalk__connection {
  text-align: right;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.headerCalk__battery {
  padding: 0 5px;
}
.board {
  position: relative;
  flex-grow: 1;
  margin: 30px 10px;
}
.board__text {
  height: 100%;
  width: 100%;
  text-align: right;
  background-color: lightskyblue;
  border: 3px solid #000;
  box-shadow: 2px 2px 2px 2px #000;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px;
  resize: none;
}
.results {
  position: absolute;
  overflow: hidden;
  right: 10px;
  max-width: calc(100% - 20px);
  bottom: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: right;
  border-radius: 5px;
  color: rgb(100, 22, 22);
  background-color: transparent;
}
.psevdoResult::before {
  content: '=';
  color: #000;
  font-size: 2.5rem;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(100vh / 60);
  text-align: center;
  padding: 0 20px 20px 20px;
}

.button {
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: calc(100vh / 90);
  box-shadow: 2px 2px 2px 2px #000;
  transition: transform ease-in-out 0.2s;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.15);
}
.button__zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
